body {
    font-family: Arial, sans-serif;
    margin: 0;
    font-style: normal;
    padding: 0;
    background-color: #d6d31b;
}
h1 {
    background-image: url(images/subaru.jpg);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 500%;
    text-align: center;
    text-decoration: wavy;
    background-color: greenyellow;
}
header {
    background-color:green;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #f1f1f1;
    position: fixed;
    top: 280px; /* Adjust this value to match the height of your header */
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
  
  li a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }}
  




main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

.car {
    text-align: center;
    margin: 20px 0;
}

.car img {
    width: 50%;
}

button {
    background-color: #e40c0c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
.column {
  float: right;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both; 
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}